$icon-hover: #27435B;

$primary-100: #3FB923;
$primary-100-hover: #48C328;
$primary-110: #3DAE23;
$primary-110-hover: #46BA28;
$primary-10: #E7F9EA;
$primary-10-hover: #F1FBF3;
$primary-100-dm: #ADF68D;
$primary-100-dm-hover: #C1F8A9;

$primary-var-100: #E8464A;
$primary-var-100-hover: #F95E63;
$primary-var-110: #D0021B;
$primary-var-110-hover: #D7021F;
$primary-var-10: #F8E4E6;
$primary-var-10-hover: #FBEFF1;
$primary-var-100-dm: #FF6A6A;
$primary-var-100-dm-hover: #FF9494;

$secondary-100: #2999F5;
$secondary-100-hover: #2FA8F6;
$secondary-100-dm: #80CDFF;
$secondary-100-dm-hover: #9CD8FF;

$neutral-100: #2c2c2c;
$neutral-90: #777;
$neutral-70: #bababa;
$neutral-40: #ddd;
$neutral-20: #f1f1f1;
$neutral-10: #f7f7f7;
$neutral-0: #fff;
$neutral-100-dm: #fff;
$neutral-90-dm: #CACBD1;
$neutral-70-dm: #85899B;
$neutral-40-dm: #555B70;
$neutral-20-dm: #32374B;
$neutral-10-dm: #272B3A;
$neutral-0-dm: #181C27;
