@use "base/reset.scss";
@use "utilities/variables.scss" as vars;
@use "colors/palette" as colors;
@use "typography/typography";
@use "colors/palette";
@use "layout/layout";
@use "layout/nav";
@use "layout/first-bar";
@use "layout/second-bar";
@use "layout/pills-bar";
@use "layout/headers-bar";
@use "layout/content";
@use "layout/footer";
@use "components/transitions";

body{
    background-color: colors.$neutral-0;
    color: colors.$neutral-100;
    
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: colors.$neutral-70;
        background-clip: padding-box;
    }
    &::-webkit-scrollbar-thumb:active{
        border-radius: 16px;
        background-color: colors.$neutral-90;
        background-clip: padding-box;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
        box-shadow: none;
    }
}

